<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물등록</title>
</head>

<body>
	<div style="padding:10px">
		<h3>게시물등록</h3>
		<hr />
        <form th:action="@{/community/insert}" method="post">
            제목 : <input type="text" name="btitle" /><br />
            내용 : <input type="text" name="bcontent" /><br />
            이미지 : <input type="file" name="timage" /><br />
            <input type="submit" value="등록하기" />
        </form>

	</div>
    
</body>
</html>
