<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div style="padding:20px">
        <h3>로그인</h3>
        <hr />
        <form th:action = "@{/member/loginaction}" method="post">
            <input type="text" placeholder="이메일" name="memail"/><br />
            <input type="password" placeholder="비밀번호"name="mpw"/><br />
            <input type="submit" value="로그인"><br />
            <a th:href="@{/home}">홈으로</a>
            <a th:href="@{/member/join}">회원가입</a>
        </form>
    </div>
</body>
</html>